* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	background-color: #fff; 
}

.btn a {
	color: #fff;
	text-decoration: none;
}

#port-jumbo {
	border: 8px solid #000;
	padding: 8em 4em;
	/*border-radius: 10px;*/
	width:  100%;
}

#jumbo-div {
	height: 100%;
	padding-top: 10%;
	border-radius: 0;
	background-color: rgba(255,255,255,0);

}

.jumbotron h1 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 55px;
}

.jumbotron h3 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 35px;
}

.jumbotron p {
	font-family: 'Eczar', serif;
}


#jumbotron-section {
	 background: url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat top center;
	 background-position: center;
	 background-size: cover;
}


.btn:hover {
	text-decoration: none;
}

#portfolio img {
	height: auto;
}



.about h {
	background: #f2f2f2;
}



.card:hover {
	    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff; 
}


.footer p {
	color: #fff;
}





/*MEDIA QUERIES*/

/* Mobile Styles */
@media only screen and (max-width: 575px) {
  
  #jumbo-div {
  	height: 100%;
  }

  #port-jumbo {
  	width: 100%;
  	margin-top: 10vh;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }


  #about h3 {
  	font-size: 30px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 576px) and (max-width: 991px) {

	#port-jumbo {
		width: 70%;
	}

	.jumbotron h1 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 45px;
	}

.jumbotron h3 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 25px;
	}




}

/* Desktop Styles */
@media only screen and (min-width: 992px) {

		#port-jumbo {
		width: 70%;
	}

	.jumbotron h1 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 75px;
	}

.jumbotron h3 {
	font-family: 'Eczar', serif;
	color: #000;
	font-size: 55px;
	}



}


